In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://Mohamedismail:Krieg2065@cluster0-shard-00-00.upmw7.mongodb.net:27017,cluster0-shard-00-01.upmw7.mongodb.net:27017,cluster0-shard-00-02.upmw7.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-9xh8wp-shard-0&authSource=admin&retryWrites=true&w=majority"
)
db = client['Elsherbini']

In [ ]:
import datetime #serve ha importare il modulo per gestire le date 
post = {"author": "Walter Jobs","text" : "My apple",
       "tags" : ["jobs","titze","steve"],
        "date": datetime.datetime.utcnow()}#prende la data di adesso

In [ ]:
post_id = db.posts.insert_one(post).inserted_id #inserisce il post e restituisce l'id dell ogetto
post_id

ObjectId('624596e844a92bbef4422ea0')

In [ ]:
new_posts = [{"author": "Mike",
              "text": "Ciao bello!",
              "tags": ["bulk", "insert"],
              "date": datetime.datetime(2009, 11, 12, 11, 14)},
             {"author": "Eliot",
              "title": "MongoDB isn't fun",
              "text": "and pretty easy too!",
              "date": datetime.datetime(2009, 11, 10, 10, 45)}]
post_ids = db.posts.insert_many(new_posts).insterted_ids
post_ids

In [ ]:
result = db.posts.find()
df = pd.DataFrame(list(result))
df

,_id,author,text,tags,date,title
0,62458f7844a92bbef4422e99,Micheal,Ciao bello!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
1,62458f7844a92bbef4422e9a,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB isn't fun
2,624596ae44a92bbef4422e9f,Steve Titze,My apple,"[jobs, titze, steve]",2022-03-31 11:55:23.121,NaN
3,624596e844a92bbef4422ea0,Walter Jobs,My apple,"[jobs, titze, steve]",2022-03-31 11:56:15.249,NaN

In [ ]:
from bson.objectid import ObjectId
df1 = pd.DataFrame(list(db.posts.find({"_id" : ObjectId('6245911a44a92bbef4422e9b')})))
df1

,_id,autor,text,tags,date
0,6245911a44a92bbef4422e9b,Walter Jobs,Post Changed!!,"[jobs, titze, steve]",2022-03-31 11:31:30.054

In [ ]:
result = db.posts.update_one({"_id" : ObjectId("6245911a44a92bbef4422e9b")},{"$set" : {"text": "Post Changed!!"}})
result.modified_count

1

In [ ]:
result = db.posts.update_many({"author":"Mike"},{"$set" : {"author": "Micheal"}})
result.modified_count

0

In [ ]:
result = db.posts.update_many({"_id" : ObjectId('6245911a44a92bbef4422e9b')},{"$push" : {"tags": "append"}})#inserire elementi nella lista
result.modified_count

1

In [ ]:
result = db.posts.update_many({"_id" : ObjectId('6245911a44a92bbef4422e9b')},{"$pull" : {"tags": "append"}}) #tirare fuori elementi dalla lista
result.modified_count

In [ ]:
result = db.posts.delete_one({"autor" : "Mike"})
result.deleted_count

1

In [ ]:
result = db.posts.delete_many({"author" : "Walter Jobs"})
result.deleted_count

3