In [1]:
import pandas as pd

1. caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

operazioni sulle colonne

 visualizzare solo la prima colonna

In [3]:
df [["Indirizzo"]]

                      Indirizzo
0     BASTIONI DI PORTA VOLTA 7
1   CORSO DI PORTA VIGENTINA 35
2                CORSO ITALI 16
3             CORSO SEMPIONE 94
4              CORSO VENEZIA 42
..                          ...
77              VIALE GORIZIA 6
78       VIALE MONTE CENERI SNC
79          VIALE SABOTINO 21/A
80       VIALE SAN GIMIGNANO 10
81               VIALE ZARA 131

[82 rows x 1 columns]

3. visualizzare solo l'ultima colonna

In [4]:
df [["Location"]]

                                  Location
0    (45.47960100000006;9.182151000000033)
1    (45.45253800000006;9.196519500000022)
2    (45.45789300000007;9.187470000000076)
3     (45.48654000000005;9.15850800000004)
4    (45.47186100000005;9.202702500000044)
..                                     ...
77  (45.454518000000064;9.173155500000064)
78   (45.49156751800007;9.153591732000052)
79  (45.451017000000036;9.200173500000062)
80  (45.455868000000066;9.136525500000062)
81   (45.50019300000008;9.196686000000057)

[82 rows x 1 columns]

visualizzare le colonne dalle terza alla quinta

In [5]:
df.iloc[:,3:6]

      CAP  MUNICIPIO  ID_NIL
0   20121          1       2
1   20122          1       5
2   20122          1       1
3   20154          8      69
4   20121          1       4
..    ...        ...     ...
77  20144          6      44
78  20155          8      71
79  20135          5      27
80  20146          6      52
81  20159          9      12

[82 rows x 3 columns]

visualizzare la terza e la sesta colonna

In [6]:
df.iloc[:,[3,6]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

 visualizzare la colonna dell'indirizzo e del municipio

In [7]:
df [["Indirizzo","MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

operazioni sulle righe

visualizzare la prima riga

In [8]:
df.head(1)

                   Indirizzo  ...                               Location
0  BASTIONI DI PORTA VOLTA 7  ...  (45.47960100000006;9.182151000000033)

[1 rows x 10 columns]

visualizzare l'ultima riga

In [9]:
df.tail(1)

         Indirizzo  ...                               Location
81  VIALE ZARA 131  ...  (45.50019300000008;9.196686000000057)

[1 rows x 10 columns]

visualizzare la riga centrale

In [10]:
if len(df)%2 == 0:
  print(df.loc[[len(df)//2]])
  print(df.loc[[len(df)//2 + 1]])
else:
  print(df.loc[[len(df)//2]])

                     Indirizzo  ...                               Location
41  VIA GIUSEPPE RIPAMONTI 167  ...  (45.43522200000007;9.201118500000064)

[1 rows x 10 columns]
                    Indirizzo  ...                               Location
42  VIA GIUSEPPE UNGARETTI 12  ...  (45.51535800000005;9.142164000000037)

[1 rows x 10 columns]

visualizzare le righe 3, 4 e 12

In [11]:
df.iloc[[3,4,12], :]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

visualizzare le righe dalla decima alla quindicesima

In [12]:
df.iloc[10:16]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

operazioni sulle righe e sulle colonne

visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [13]:
df[10:16][["Indirizzo","NIL"]]

                       Indirizzo                                                NIL
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15             VIA BOVISASCA 173                                          BOVISASCA

 visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [14]:
df.iloc[[3,5,12],:][["Telefono","Fax"]]

       Telefono          Fax
3           NaN          NaN
5   02-47714011  02-47714047
12   02-3535414   02-3538072

visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [15]:
df.iloc[3:11,1:7]

       Telefono          Fax  ...  ID_NIL                               NIL
3           NaN          NaN  ...      69                             SARPI
4   02-76023056   02-7837251  ...       4                         GUASTALLA
5   02-47714011  02-47714047  ...      49                       GIAMBELLINO
6   02-42255211  02-42255247  ...      49                       GIAMBELLINO
7     02-325774   02-3271232  ...      66                              QT 8
8   02-37790911  02-37790947  ...      78                            FARINI
9    02-2665192  02-26680123  ...      22                      CITTA' STUDI
10   02-6773311  02-67733147  ...      10  STAZIONE CENTRALE - PONTE SEVESO

[8 rows x 6 columns]

ricerca di informazioni

visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [16]:
df[df["Indirizzo"].str.contains("PIAZZA NAPOLI")][["Telefono"]]

      Telefono
6  02-42255211

visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [17]:
df[df["NIL"].str.contains("NIGUARDA")][["Telefono","Indirizzo"]]

       Telefono               Indirizzo
60  02-66100185            VIA PONALE 6
76   02-6470400  VIALE GIOVANNI SUZZANI

visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

In [18]:
df[df["MUNICIPIO"]==(1|2|3)][["Telefono","Indirizzo"]]

       Telefono               Indirizzo
9    02-2665192           VIA ADELCHI 2
16  02-29527423          VIA BRONZINO 7
27  02-21040511           VIA DURAZZO 5
40          NaN  VIA GIUSEPPE PECCHIO 1
55  02-70061332           VIA ORTICA 19
64   02-2046789  VIA ROSOLINO PILO 19/A
73   02-2047169   VIALE ANDREA DORIA 48

visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [19]:
df.loc[(df["Telefono"].isnull()) | (df["Fax"].isnull())]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

raggruppamento

visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL)

In [20]:
df.groupby("NIL").size()

NIL
ADRIANO                                                        1
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
BANDE NERE                                                     1
BOVISASCA                                                      1
BRERA                                                          4
BRUZZANO                                                       1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
CITTA' STUDI                                                   1
CORSICA                                                        1
DE ANGELI - MONTE ROSA                                         1
DERGANO                                                        1
DUOMO                                                          7
FARINI                                                         1
FORZE ARMATE                                                   2
GIAMBELLINO                                                    3
GORLA - PRECOTTO                                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
GRECO - SEGNANO                                                1
GUASTALLA                                                      1
ISOLA                                                          3
LAMBRATE - ORTICA                                              1
LODI - CORVETTO                                                1
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
MONCUCCO - SAN CRISTOFORO                                      1
MONLUE' - PONTE LAMBRO                                         1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
PAGANO                                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA GENOVA                                                   1
PORTA MAGENTA                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA TICINESE - CONCHETTA                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PTA ROMANA                                                     1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QT 8                                                           1
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
QUINTO ROMANO                                                  1
ROGOREDO - SANTA GIULIA                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
SAN SIRO                                                       1
SARPI                                                          2
SCALO ROMANA                                                   1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
STAZIONE CENTRALE - PONTE SEVESO                               1
TIBALDI                                                        2
UMBRIA - MOLISE - CALVAIRATE                                   1
VIGENTINO - Q.RE FATIMA                                        1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
XXII MARZO                                                     2
dtype: int64

visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL). Ordinare a partire dal NIL che ha piÃ¹ uffici in giÃ¹

In [21]:
df.groupby("NIL").count().sort_values("Indirizzo",ascending = False)[["Indirizzo"]]

                                                    Indirizzo
NIL
DUOMO                                                       7
BRERA                                                       4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE               4
GIAMBELLINO                                                 3
ISOLA                                                       3
PADOVA - TURRO - CRESCENZAGO                                2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE ...          2
AFFORI                                                      2
MACIACHINI - MAGGIOLINA                                     2
LORETO - CASORETTO - NOLO                                   2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO           2
QUARTO OGGIARO - VIALBA - MUSOCCO                           2
FORZE ARMATE                                                2
XXII MARZO                                                  2
TIBALDI                                                     2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                    2
SARPI                                                       2
SAN SIRO                                                    1
PORTA TICINESE - CONCHETTA                                  1
PORTA VIGENTINA - PORTA LODOVICA                            1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                         1
VIGENTINO - Q.RE FATIMA                                     1
PTA ROMANA                                                  1
UMBRIA - MOLISE - CALVAIRATE                                1
STAZIONE CENTRALE - PONTE SEVESO                            1
QT 8                                                        1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA ...          1
SCALO ROMANA                                                1
QUINTO ROMANO                                               1
ROGOREDO - SANTA GIULIA                                     1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO              1
PORTA MAGENTA                                               1
PORTA TICINESE - CONCA DEL NAVIGLIO                         1
ADRIANO                                                     1
PORTA GENOVA                                                1
PORTA GARIBALDI - PORTA NUOVA                               1
BANDE NERE                                                  1
BOVISASCA                                                   1
BRUZZANO                                                    1
CIMIANO - ROTTOLE - Q.RE FELTRE                             1
CITTA' STUDI                                                1
CORSICA                                                     1
DE ANGELI - MONTE ROSA                                      1
DERGANO                                                     1
FARINI                                                      1
GORLA - PRECOTTO                                            1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                1
GRECO - SEGNANO                                             1
GUASTALLA                                                   1
LAMBRATE - ORTICA                                           1
LODI - CORVETTO                                             1
MONCUCCO - SAN CRISTOFORO                                   1
PAGANO                                                      1
MONLUE' - PONTE LAMBRO                                      1

visualizzare i municipi che hanno piÃ¹ di 15 uffici postali

In [22]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > 15]

Series([], Name: MUNICIPIO, dtype: int64)

visualizzare il municipio che ha piÃ¹ uffici postali

In [23]:
df['MUNICIPIO'].value_counts().max()

14

visualizzare il municipio che ha meno uffici postali

In [24]:
df['MUNICIPIO'].value_counts().min()

7

visualizzare il numero medio di uffici postali in ogni municipio

In [25]:
df['MUNICIPIO'].value_counts().mean()

9.11111111111111

visualizzare gli uffici postali che hanno un numero di uffici postali superiore alla media

eliminazione di righe o colonne

eliminare tutti i record relativi al NIL di Niguarda

In [26]:
df1 = df.drop(df[df['NIL'].str.contains("NIGUARDA ")].index)
df1

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

eliminare le ultime tre colonne

In [27]:
df.drop(columns= df.iloc[:,-3:])

                      Indirizzo  ...                                  NIL
0     BASTIONI DI PORTA VOLTA 7  ...                                BRERA
1   CORSO DI PORTA VIGENTINA 35  ...     PORTA VIGENTINA - PORTA LODOVICA
2                CORSO ITALI 16  ...                                DUOMO
3             CORSO SEMPIONE 94  ...                                SARPI
4              CORSO VENEZIA 42  ...                            GUASTALLA
..                          ...  ...                                  ...
77              VIALE GORIZIA 6  ...           PORTA TICINESE - CONCHETTA
78       VIALE MONTE CENERI SNC  ...  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79          VIALE SABOTINO 21/A  ...                           PTA ROMANA
80       VIALE SAN GIMIGNANO 10  ...                           BANDE NERE
81               VIALE ZARA 131  ...              MACIACHINI - MAGGIOLINA

[82 rows x 7 columns]

eliminare i record di cui non si conosce il numero di telefono o il fax

modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

sostituire il trattino presente nei numeri di telefono con il carattere /